@import url("css/desktop.css");
@import url("css/tablet.css");
@import url("css/old_phones.css");
@import url("../../componentes/navbar.css");
/* reset css */

*{
	padding:0;
	margin:0;
}
body{
	/*background-color:#16151D;*/
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
}

.home{
	width:100vw;
	background: rgb(58,4,210);
	background: linear-gradient(90deg, rgba(58,4,210,1) 0%, rgba(233,5,5,1) 100%);
	color:white;
}

.home a{
	color:white;
}
