#banner{
	width:100vw;
	height:50vh;
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../assets/imagens/banner_2.png");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;	
	color:white;
	overflow:hidden;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	font-weight:bold;
	font-family: "DM Serif Text", serif;
}

a.btn{
  background-color:none;
  border-style:solid;
  border-width:2px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 
}
a.banner__btn{
 	border-color:#740ab4;
	background-color:#740ab4 !important;
	/*background-color:#400293 !important;*/
	font-weight:bold;
	margin:5vh 0 0 0;
}

