#chapters{
	width:100vw;
	height:60vh;
	background-color:#363636;
	display:inline-block;
}
.chapters__container{
	width:90vw;
	height:80%;
	background-color:#232323;
	display:block;
	margin: 0 auto;
	overflow:scroll;
	border-radius:3%;
}

#chapters .about__title{
	color:white;
}

.chapters__table{
	width:84%;
	border-collapse:collapse;
	margin:5vh auto;
	color:white;	
}
.table__rows{
  border: none;
  text-align:center;
  line-height:200%;
  color:white;
 /* background-color:rgba(86, 76, 81, 0.29);*/
  background-color:#2C2C2C;
}

.search{
	width:100%;
	line-height:180%;
	border-radius:1.625rem;
	border:1px solid black;
	text-transform:lowercase;
	text-align:center;
	display:block;
}
.search__button{
	color:#fff;
	border-radius:50%;
	border:none;
	background:#740ab4;
	width:20px;
	height:20px;

}
/*LINKS*/

.chapters__table a {
	color:white;
}
