#support {
	width: 100vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
  }
  
  .support__options {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
  }
  
  .social__container {
	width: 70vw;
	height: 80%;
	border: 1px solid #000000;
	background-color: greena;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  }
  
  .social__stamp {
	background-color: none;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem auto;
	overflow: hidden;
  }
  
  #support .about__title {
	color: #595857;
	text-align: center;
  }
  
  .social__image {
	width: 175%;
	height: 175%;
	margin: -1.8rem -1.8rem;
  }
  
  .social__button {
	margin: 8rem auto;
	width: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  